/*
 * Copyright (c) 2024 Antmicro
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/delete-node/ &ram0;
/delete-node/ &uart0;
/delete-node/ &timer0;

&{/cpus/cpu@0} {
	clock-frequency = <50000000>;
};

/ {
	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-pipe = &uart0;
	};
	ram0: memory@10000000 {
		device_type = "memory";
		reg = <0x10000000 0x40000>;
	};
	/* if csr data width = 8 */
	// soc {
	// 	uart0: serial@e0000600 {
	// 		compatible = "litex,uart0";
	// 		interrupt-parent = <&intc0>;
	// 		interrupts = <0x2 0>;
	// 		reg = <0xe0000600 0x4
	// 			0xe0000604 0x4
	// 			0xe0000608 0x4
	// 			0xe000060c 0x4
	// 			0xe0000610 0x4
	// 			0xe0000614 0x4
	// 			0xe0000618 0x4
	// 			0xe000061c 0x4>;
	// 		reg-names =
	// 			"rxtx",
	// 			"txfull",
	// 			"rxempty",
	// 			"ev_status",
	// 			"ev_pending",
	// 			"ev_enable",
	// 			"txempty",
	// 			"rxfull";
	// 		current-speed = <115200>;
	// 		status = "okay";
	// 	};
	// 	timer0: timer@e0000a00 {
	// 		compatible = "litex,timer0";
	// 		interrupt-parent = < &intc0 >;
	// 		interrupts = < 0x1 0x0 >;
	// 		reg = <0xe0000a00 0x10
	// 		0xe0000a10 0x10
	// 		0xe0000a20 0x4
	// 		0xe0000a24 0x4
	// 		0xe0000a28 0x10
	// 		0xe0000a38 0x4
	// 		0xe0000a3c 0x4
	// 		0xe0000a40 0x4
	// 		0xe0000a44 0x4
	// 		0xe0000a48 0x20>;
	// 		reg-names = "load",
	// 		"reload",
	// 		"en",
	// 		"update_value",
	// 		"value",
	// 		"ev_status",
	// 		"ev_pending",
	// 		"ev_enable",
	// 		"uptime_latch",
	// 		"uptime_cycles";
	// 		status = "okay";
	// 	};
	// };
	soc {
		uart0: serial@e0000600 {
			compatible = "litex,uart0";
			interrupt-parent = <&intc0>;
			interrupts = <0x2 0>;
			reg = <0xe0000600 0x4
				0xe0000604 0x4
				0xe0000608 0x4
				0xe000060c 0x4
				0xe0000610 0x4
				0xe0000614 0x4
				0xe0000618 0x4
				0xe000061c 0x4>;
			reg-names =
				"rxtx",
				"txfull",
				"rxempty",
				"ev_status",
				"ev_pending",
				"ev_enable",
				"txempty",
				"rxfull";
			current-speed = <115200>;
			status = "okay";
		};
		timer0: timer@e0000a00 {
			compatible = "litex,timer0";
			interrupt-parent = < &intc0 >;
			interrupts = < 0x1 0x0 >;
			reg = <0xe0000a00 0x4
			0xe0000a04 0x4
			0xe0000a08 0x4
			0xe0000a0c 0x4
			0xe0000a10 0x4
			0xe0000a14 0x4
			0xe0000a18 0x4
			0xe0000a1c 0x4
			0xe0000a20 0x4
			0xe0000a24 0x8>;
			reg-names = "load",
			"reload",
			"en",
			"update_value",
			"value",
			"ev_status",
			"ev_pending",
			"ev_enable",
			"uptime_latch",
			"uptime_cycles";
			status = "okay";
		};
	};
};

&eth0 {
	status = "disabled";
};

&dna0 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};

&prbs0 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

&pwm0 {
	status = "disabled";
};

&gpio_out {
	status = "disabled";
};

&gpio_in {
	status = "disabled";
};

&i2s_rx {
	status = "disabled";
};

&i2s_tx {
	status = "disabled";
};

&clock0 {
	status = "disabled";
};

&clk0 {
	status = "disabled";
};

&clk1 {
	status = "disabled";
};
